<main>
    <button class="btn-submit" type="button" (click)="modalShow = true">ACESSAR</button>
</main>

<section class="modal" *ngIf="modalShow">
    <form #formLogin="ngForm" (ngSubmit)="logar(formLogin)">
        <div (click)="modalShow = false" class="close">X</div>
        <section class="inputForm">
            <input placeholder="E-mail" required [pattern]="checkEmail" #inputUsername="ngModel" ngModel name="username" type="email" />
            <div class="errosInfo" *ngIf="formLogin.submitted && (inputUsername.dirty && inputUsername.invalid) && inputUsername.errors">
                <span *ngIf="inputUsername.errors.required">E-mail é necessário.</span>
                <span *ngIf="inputUsername.errors.pattern">E-mail inválido.</span>
            </div>
        </section>
        <section class="inputForm">
            <input placeholder="Senha" required [pattern]="checkPassword" #inputPassword="ngModel" ngModel name="password" type="password" />
            <div class="errosInfo" *ngIf="formLogin.submitted && (inputPassword.dirty && inputPassword.invalid) && inputPassword.errors">
                <span *ngIf="inputPassword.errors.required">Senha é necessária.</span>
                <span *ngIf="inputPassword.errors.pattern">Senha requer no minimo 8 caracteres pelo menos 1 letra, 1 numero e 1 caractere especial</span>
            </div>
        </section>
        <button class="btn-submit" [disabled]="formLogin.invalid" type="submit">LOGAR</button>
    </form>
</section>
