main {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    form {
        position: relative;
        min-width: 320px;
        width: 320px;
        padding: 40px 20px 20px 20px;
        background-color: #f1f1f1;
        div.close {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 10px;
            font-family: sans-serif;
        }
        section.inputForm {
            margin-bottom: 16px;
            max-width: 320px;
            width: 100%;
            input {
                width: 100%;
                height: 24px;
                outline: none;
                border: none;
                border-bottom: 1px solid #222222;
                background-color: #f1f1f1;
                color: #222222;
                appearance: none;
                &::placeholder {
                    color: #222222;
                }
            }
            div.errosInfo {
                width: 100%;
                span {
                    color: #ffa1a1;
                    font-size: 14px;
                    display: block;
                    border-radius: 10px;
                }
            }
        }
    }
}

button.btn-submit {
    cursor: pointer;
    max-width: 320px;
    width: 100%;
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 4px;
    color: #f1f1f1;
    outline: none;
    appearance: none;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    opacity: 1;
    &:disabled {
        opacity: 0.3;
    }
}
