<p (click)="globalService.deslogar()">DELOGAR DE {{ globalService.UserData.name }}</p>
<main>
    <section class="painel" *ngIf="globalService.UserData.profile.PainelA">
        PainelA
    </section>
    <section class="painel" *ngIf="globalService.UserData.profile.PainelB">
        PainelB
    </section>
</main>
