p {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: #000;
    color: #FFF;
    font-size: 12px;
    user-select: none;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
main {
    padding-top: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    section.painel {
        flex: 1;
        margin: 20px;
        background-color: #FFFFFF;
        padding: 10px;
        display: grid;
        place-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        font-size: 20px;
        font-weight: 500;
    }
}
